{% assign dark_icon = site.data.theme.site_nav.icon_color | default: '' %}

<ul class="contact-list">
  {% if site.email %}
    <li>
      <a href="mailto:{{ site.email }}">
        <span class="icon icon--email {{ dark_icon }}">{% include icon-email.svg %}</span>
        <span class="label">{{ site.data.theme.t.email | default: 'Email' }}</span>
      </a>
    </li>
  {% endif %}

  {% if site.github_username %}
    <li>{% include icon-github.html username=site.github_username label='GitHub' styles=dark_icon %}</li>
  {% endif %}

  <li>{% include icon-instagram.html username='make_roanoke' label='Instagram' styles=dark_icon %}</li>

  <li>{% include icon-facebook.html username='profile.php?id=61555003782595' label='Facebook' styles="dark_icon" %}</li>

  <li>{% include icon-discord.html username='eWY2pFUE2n' label='Discord' styles="dark_icon" %}</li>

  {% if site.twitter_username %}
    <li>{% include icon-twitter.html username=site.twitter_username label='Twitter' styles="dark_icon" %}</li>
  {% endif %}

  <li>
      {% include icon-link.html username='make_roanoke' %} 
  </li>
</ul>
