{%- comment -%}
 This block of code defines the header section at the top of a webpage.
  It assumes that the <header class="header"></header> tags are supplied
  by the calling code. 
 {%- endcomment -%}

{% assign site_logo = site.logo | relative_url %}


  <div class="inner">
    <div class="page-header-title">
      <section class="page-header-logo/">
        <h1 class="site-title">
          <a href="{{ '/' | relative_url }}">
            {% if site.logo %}<img src="{{ site_logo }}" alt="" class="site-logo">{% endif %}
          </a>
        </h1>
      </section>

      <section class="page-header-tagline">
        {%- if site.tagline -%}
        <h2><span>{{ site.tagline | escape }}</span></h2>
        {%- endif -%}
      </section>
    </div>  <!-- page-header-title -->
  </div>    <!-- inner -->

  <nav id="primary-menu" class="hmenu mobile-never">
    {%- include render-primary-menu.html menuName="primary" -%}
  </nav>

  <nav id="primary-mobile-menu" class="vmenu mobile-only fit-content">
    <div class="inner">
      <section class="fit-content" onclick="hideMobileMenu()">
        <span class="material-symbols-outlined">close</span>
      </section>
      <section class="fit-content">
        {%- include render-secondary-menu.html menuName="primary" -%}
      </section>
    </div>
  </nav>

  {% if page.image %}
  {% assign intro_image = page.image.path | default: page.image | relative_url | escape %}
  <div class="intro-image">
    <img src="{{ intro_image }}" alt="{{ page.title }}">
  </div>
{% endif %}


<script>
  function showMobileMenu()
  {
    var menu = document.getElementById("primary-mobile-menu");
    menu.style.display = "block";
  }

  function hideMobileMenu()
  {
    var menu = document.getElementById("primary-mobile-menu");
    menu.style.display = "none";
  }
</script>
