{%- comment -%}
 This block of code defines the header section at the top of a webpage.
  It assumes that the <header class="header"></header> tags are supplied
  by the calling code. 
 {%- endcomment -%}

{% assign site_logo = site.logo | relative_url %}


  <div class="inner">
    <div class="page-header-title">
      <section class="page-header-logo/">
        <h1 class="site-title">
          <a href="{{ '/' | relative_url }}">
            {% if site.logo %}<img src="{{ site_logo }}" alt="" class="site-logo">{% endif %}
          </a>
        </h1>
      </section>

      <section class="page-header-tagline">
        {%- if site.tagline -%}
        <h2><span>{{ site.tagline | escape }}</span></h2>
        {%- endif -%}
      </section>
    </div>  <!-- page-header-title -->
  </div>    <!-- inner -->

  <nav id="primary-menu" class="hmenu mobile-never">
    {%- include render-primary-menu.html menuName="primary" -%}
  </nav>

  <nav id="primary-mobile-menu" class="vmenu mobile-only fit-content">
    <div class="inner">
      <section class="fit-content button-cursor" onclick="hideMobileMenu()">
        <span class="material-symbols-outlined">close</span>
      </section>
      <section class="fit-content">
        {%- include render-secondary-menu.html menuName="primary" -%}
      </section>
    </div>
  </nav>

  {% if page.image %}
  {% assign intro_image = page.image.path | default: page.image | relative_url | escape %}
  <div class="intro-image">
    <img src="{{ intro_image }}" alt="{{ page.title }}">
  </div>
{% endif %}


<script>
  function showMobileMenu()
  {
    var menu = document.getElementById("primary-mobile-menu");
    menu.style.display = "block";
  }

  function hideMobileMenu()
  {
    var menu = document.getElementById("primary-mobile-menu");
    menu.style.display = "none";
  }

  window.addEventListener("DOMContentLoaded", onceLoaded );

  function onceLoaded()
  {
    console.log("page loaded");
  }

  function getElementWidth(element)
  {
    var style   = window.getComputedStyle(element);
    var width   = parseFloat(style.width); //element.offsetWidth;

    var margin  = parseFloat(style.marginLeft) + parseFloat(style.marginRight);
    var border  = parseFloat(style.borderRightWidth);

    if ( isNaN(width) ) 
    {
      width = 0;
    }

    if ( isNaN(border) )
    {
      border = 0;
    }

    if ( isNaN(margin) )
    {
      margin = 0;
    }

    var totalWidth = width + margin + border; // + border - padding;

    //console.log("Element[", element.tagName, "] Width: ", totalWidth, "px");
    //console.log("[", width, ", ", margin, ", ", border, ", ", padding, "]");

    return totalWidth;
  }

  function getWidth(parent)
  {
    var maxWidth = getElementWidth(parent);
    var childWidth = 0;

   

    for (const child of parent.children)
    {
      childWidth = getWidth(child);

      if ( childWidth > maxWidth )
      {
        maxWidth = childWidth;
      }
    }

    return maxWidth;
  }

  function shiftLeftOfParent(myElement)
  {
    var children = myElement.children;

    //console.log("Calling shiftLeftOfParent()");

    for (const child of myElement.children)
    {
      if ( child.tagName != "NAV" )
      {
        continue;
      }

      //console.log("Mside: ", child.getAttribute("mside"));
      if ( child.hasAttribute("mside") )
      {
        var whichSide = child.getAttribute("mside");
        var style     = window.getComputedStyle(child);

        var border    = parseFloat(style.borderRightWidth);
        if ( isNaN(border) )
        {
          border = 0;
        }

        var childWidth = getWidth(child) + parseFloat(window.getComputedStyle(child).borderRightWidth);

        //console.log(" Width: ", childWidth);
        if ( whichSide == "left" )
        {
          shiftPx = -1 * childWidth;
          newLeft = shiftPx.toString().concat("px");
          //( myElement.style.borderLeftWidth + child.style.width) ;

          //console.log("Offset: ", newLeft);

          child.style.left = newLeft;
        }
      }
    }
  }
</script>
