/*
 * MR Theme Global Variables
 *
 * Global Variables defined and set their values.
 * The global variables used in multiple SCSS pages
 * should go in this file. If a global variable is
 * used in only one file can be defined in that files
 * or can be defined here.
 */

 /*
  * Variables used for Responsive Website Design.
  */

  /* The width at which the layout switches to/from Mobile Mode */
  $mobile-width:    500px;

  /*
   * Colors.
   *
   * This is a good place for all the site colors to be defined
   * so that overall color look can be done in one place.
   */

   /*
    * TODO: Find where this background color is actually defined
    * so that we can use the variabe it is defined as here.
    */
   $page-normal-background-color:        #fefaec;

   $menu-item-normal-color:              black;
   $menu-item-hover-color:               red;
   $menu-item-normal-background-color:   cornsilk;
   $menu-item-hover-background-color:    cornsilk;
   $menu-item-border-color:              gray;

   $menu-mobile-background-color:        white;

   $post-card-background-color:          $page-normal-background-color;
   $post-card-mobile-background-color:   white;
   $post-card-title-color:               black;
   $post-card-date-background-color:     lavender;

   $event-card-background-color:         $post-card-background-color;
   $event-card-title-color:              $post-card-title-color;
   $event-card-date-background-color:    $post-card-date-background-color;

